body {
    font-family: Arial, sans-serif;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.section-title {
    text-align: center;
    background-color: #3e3e3e;
    color: white;
    padding: 10px;
    font-size: 16px; /* Set font size to match table text size */
}

.input-container {
    margin-bottom: 20px;
}

.label-container {
    display: flex;
    align-items: center;
}

.drift-kit-container {
    display: flex;
    align-items: center;
}

label {
    display: inline-block;
    width: 150px;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto 20px auto; /* Center the table and add bottom margin */
    font-size: 16px; /* Explicitly set table text size to match section-title */
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #3e3e3e;
    color: white;
}

.total-price-container {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}

.drift-kit-option {
    margin-top: 5px;
    display: flex;
    align-items: centre;
}

.drift-kit-option label {
    margin-left: 10px;
}
